
@inherits LayoutComponentBase

<div class="page">
    <!-- Navbar en ancho completo -->
    <main>
        <!-- Contenido dinámico -->
        <Navbar />
        <div class="container mt-5">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
